/* Put Game Message CSS Here */
.message-container{
	display:inline-block;
	height: 80px;
	width: 230px;
	background-color: #BBB;
	font-size: 16px;
	border: 1px solid white;
	text-align: center;	
}
.action-message{
	font-size: 20px;
}